@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  }
  
  .custom-bg {
    background-color: #1C1C25;
  }
  
  
  .custom-logo-color {
    color: #2F80ED
  }
  
  .active-link-bg-color {
    background-color: #062141;
  }